.body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
.header {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            position: relative;
}
        .header-text {
            position: absolute;
            right: 20px; /* Меняйте это значение для изменения положения текста */
            top: 10px; /* Меняйте это значение для изменения положения текста */
        }
        footer {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
            position: relative;
        }
        .footer-text {
            position: absolute;
            right: 20px; /* Меняйте это значение для изменения положения текста */
            bottom: 10px; /* Меняйте это значение для изменения положения текста */
        }
        .content {
            padding: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none; /* Скрываем контент по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Показываем контент при наведении */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Цвет при наведении на ссылку */
}