<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% load static %}

    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Tektur' rel='stylesheet'>
    <link href="{% static 'mainpage/style/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-div">
            <a href="{% url 'index' %}"><img class="logo" src="graphics_images/logo.png"></a>
            <a class="head-name" href="{% url 'index' %}">Аналитика без Фигни</a>
        </div>
        <div class="line"></div>
    </header>

    <main>
        <div class="content">
            <div class="content-2">
                <div class="menu">
                    <ul class="column">
                        <li><a class="column-text" href="{% url 'statistics' %}">Общая статистика</a></li>
                        <li><a class="column-text" href="{% url 'relevance' %}">Востребованность</a></li>
                        <li><a class="column-text" href="{% url 'geography' %}">География</a></li>
                        <li><a class="column-text" href="{% url 'skills' %}">Навыки</a></li>
                        <li><a class="column-text" href="{% url 'last_vacancies' %}">Вакансии</a></li>
                    </ul>
                </div>
            </div>

            <div class="main-content">
                {% block main_info %}
                {% endblock %}
            </div>
        </div>

        <div class="footer-div">
            <p>Чернаков Иван Сергеевич РИ-230911</p>
        </div>
    </main>
</body>
</html>
