{% extends "mainpage/base.html" %}
{%  load static %}

{% block main_info %}
<select id="year-select">
        <option value="">Выберите год</option>
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>

    <div id="result"></div>

    <script>
        $(document).ready(function() {
            $('#year-select').change(function() {
                var selectedYear = $(this).val();
                var entries = {{ top20_entries|safe }}; // Передаем данные из Django в JS

                // Фильтруем записи по выбранному году
                var filteredEntries = entries.filter(function(entry) {
                    return entry.year == selectedYear;
                });

                // Обновляем контейнер с результатами
                var resultDiv = $('#result');
                resultDiv.empty(); // Очищаем предыдущие результаты

                if (filteredEntries.length > 0) {
                    filteredEntries.forEach(function(entry) {
                        console.log(entries);
                        resultDiv.append('<h3>' + entry.year + '</h3>');
                        resultDiv.append('<div>' + entry.table + '</div>');
                        resultDiv.append('<img src="'{{ MEDIA_URL }}+ entry.image +'" alt="Image" style="max-width: 100%; height: auto;">');
                    });
                } else {
                    resultDiv.append('<p>Нет данных для выбранного года.</p>');
                }
            });
        });
    </script>
{% endblock %}