{% extends "mainpage/base.html" %}
{%  load static %}
{% block main_info %}
<div class="content">

    {% for analytic in info %}
    <div>
        <h1>{{ analytic.title }}</h1>
        <p>{{ analytic.content|safe }}</p>
        <img src="{{ analytic.picture.url }}"

        sizes="(max-width: 480px) 100vw,
            (max-width: 800px) 50vw,
            33vw"> </img>
    </div>
    {% endfor %}

</div>

<div>
    <form method="GET">
        {% csrf_token %}
        <select name="years">
            <option>
                <button type="submit"> 2015</button>
            </option>
            <option>
                <button type="submit"> 2016 </button>
            </option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
        {% for res in data%}
            {{res.table}}
            {{res.image}}
        {% endfor %}
    </form>


</div>
{% endblock %}