{% extends "mainpage/base.html" %}
{%  load static %}
{% block main_info %}



<div class="main-content">
    <h1 class = "page-header">Общая статистика</h1>

    {% for analytic in info %}

    <h1 class = "content-header">{{ analytic.title }}</h1>
    <div class="static-block">
        <p class="table">{{ analytic.content|safe }}</p>
        <img class = "diagram" src="{{ analytic.picture.url }}">
    </div>
    {% endfor %}

    <select id="year-select">
        <option value="" class="option">Выберите год</option>
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
    </select>
    <div class="static-block">
        <div id="result"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('#year-select').change(function() {
                var selectedYear = $(this).val();
                var entries = {{ top20_entries|safe }}; // Передаем данные из Django в JS

                // Фильтруем записи по выбранному году
                var filteredEntries = entries.filter(function(entry) {
                    return entry.year == selectedYear;
                });

                // Обновляем контейнер с результатами
                var resultDiv = $('#result');
                resultDiv.empty(); // Очищаем предыдущие результаты

                if (filteredEntries.length > 0) {
                    filteredEntries.forEach(function(entry) {
                        resultDiv.append('<div class="static-block">' +
                           '<div class="table">' + entry.table + '</div>' +
                                     '<img class = "diagram" src="{{ MEDIA_URL }} ' + entry.image + '" alt="Image">' +
                           '</div>');
                });
                } else {
                    resultDiv.append('<p>Нет данных для выбранного года.</p>');
                }
            });
        });
    </script>
</div>
{% endblock %}
